@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
}

body {
    font-family: "DM Sans", sans-serif;

    color: #fff;
    padding: 2rem;
    display: flex;
    width: 300px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.head .title {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}

.head .subtitle {
    letter-spacing: 1.3rem;
    padding-left: 1rem;
}

.qr {
    background-color: black;
    margin-bottom: 1rem;
}

.qr img {
    width: 10rem;
}

.input {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 120%;
    padding: 0.65rem 1rem;
    background: black;
    border-radius: 1rem;
}

.input .label {
    font-size: 0.75rem;
    color: white;
}

.input .text {
    font-size: 0.7rem;
    background: none;
    border: none;
    color: white;
    outline: none;
}

::placeholder {
    color: #999999;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons .generate,
.buttons .download {
    background-color: black;
    color: white;
    border: none;
    width: 48%;
    border-radius: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    padding: 0.5rem;
    cursor: pointer;
}